@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-bleed-container {
    @apply grid grid-cols-[1fr_min(80ch,_100%)_1fr] [&>*]:col-[2] [&>.full-bleed]:col-[1/4] py-4;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.glow {
  position: relative;
}

.glow::before,
.glow::after {
  content: '';
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    theme('colors.primary'),
    theme('colors.secondary'),
    theme('colors.secondary'),
    theme('colors.primary')
  );
  border-radius: inherit;
  animation: rotate 5s linear infinite;
}
.glow::after {
  filter: blur(3.5rem);
}

@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
